[defaults]
remote_user = devops
ask_pass = false
host_key_checking = false
inventory = ./inventory
roles_path = ./roles:/usr/share/ansible/roles
collections_path = ./colletions:/usr/share/ansible/colletions
private_key_file = $HOME/.ssh/new-controller

[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false
